<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Student management Application</h1>
        <hr>
        <div>
            {% if name %}
                <h2>Welcome {{ name }},</h2>
            {% else %}
                <h2>Welcome Dear,</h2>
            {% endif %}
                
        </div>
        <p>
            This application can manage the student data
        </p>
        <p>
            Module: {{ module }}
            <br>
            Timings : {{ timings }}
        </p>
        <a href="/students">All students</a>
        <br>
        <a href="/register">Register</a>
        <br>
        <a href="/students/class">Get class data</a>

        
    </div>
    
</body>
</html>