<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Register</h1>
         <p>
            This application can manage the student data
        </p>
        <hr>
    
        <form action="/register" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="">
            </div>

            <div>
                <label for="class">Class:</label>
                <input type="number" name="class" id="">
            </div>

            <div>
                <label for="age">Age:</label>
                <input type="number" name="age" id="">
            </div>
            
            <div>
                <button type="submit">Save</button>
            </div>
        </form>

        
    </div>
    
</body>
</html>