<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM</title>
</head>
<body>
    <div style="text-align: center;">
        {% if data %}
            {% for id in data %}
                <p>ID: {{ id }}</p>
                <p>Name: {{ data[id]['name'] }}</p>
                <p>Class: {{ data[id]['class'] }}</p>
                <p>Age : {{ data[id]['age'] }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>No Student Found</p>
        {% endif %}

    </div>
</body>
</html>