<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav style="background-color: rgb(149, 247, 96); text-align: left;">
        {% block navmenu %}
        {% endblock %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        SNS Management | Codegnan 
    </footer>
    
</body>
</html>