{% extends "base.html" %}

{% block title %}
SNS- Login
{% endblock %}

{% block navmenu %}
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
{% endblock %}

{% block content %}

<div style="text-align: center;">
    <h2>Login</h2>
    <div>
        <form action="/login" method="POST">
            <div>
                
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" required>
                </div>
                
                <div>
                    <button type="submit">Login</button>
                
                </div>
                <p>Do you don't have account?<a href="/register">Register</a></p>
            </div>
        </form>

    </div>
    

    </form>
</div>
{% endblock %}
