{% extends 'base.html' %}

{% block title %}
SNS-Forgot-Password
{% endblock %}

{% block content %}

    {% block navmenu %}
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    {% endblock %}


    <div>
        <h2>Forgot Password</h2>
        <p>To access your account, first update the password</p>
        <div>
            <form action="/forgot-password" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
            
            </form>
        </div>
    </div>

{% endblock %}