<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/students/search" method="POST">
            <label for="id">id</label>
            <input type="number" name="id">
            <button type="submit">submit</button>
        </form>
    </div>

    <div>
        {% if data %}
            <p>{{ data }} </p>
        {% endif %}
    </div>

    <a href="/">Home</a>
</body>
</html>