{% extends "base.html" %}


{% block title %}
Reset-Password - SNS
{% endblock %}


{% block navmenu %}
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('register') }}">Register</a>
    <a href="{{ url_for('login') }}">Login</a>
{% endblock %}





{% block content %}

<div class="form-container">

    <h1>Reset Password</h1>
    <div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>

    <p class="form-subtitle">
        Reset password to access your notes account.
    </p>


    <form
        method="POST"
        action="/reset-password/{{ token }}"
    >

        <div class="form-group">

            <label for="new_password">
                New Password
            </label>

            <input
                type="password"
                id="new_password"
                name="new_password"
                placeholder="Enter your new password"
                required
            >

        </div>


        <div class="form-group">

            <label for="conform_password">
                Conform Password
            </label>

            <input
                type="password"
                id="conform_password"
                name="conform_password"
                placeholder="Repet password"
                required
            >

        </div>


        <button
            type="submit"
            class="btn btn-primary full-width"
        >
            Reset Password
        </button>

    </form>



</div>

{% endblock %}