{% extends "base.html" %}


{% block title %}
My Files - SNS
{% endblock %}

{% block navmenu %}
    <a href="{{ url_for('dashboard') }}">dashboard</a>
    <a href="{{ url_for('myfiles') }}">Files</a>
    <a href="{{ url_for('mynotes') }}">Notes</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>
        My Files
    </h1>

    <a
        href="{{ url_for('uploadFile') }}"
        class="btn btn-primary"
    >
        Upload File
    </a>

</div>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == "msg" %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% elif category == "err" %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
</div>

<div>
    {% if msg %}
       <p style="color: green;">{{ msg }}</p>
    {% endif %}
    {% if err %}
        <p style="color: red;"> {{ err }}</p>
    {% endif %}
</div>



{% if files %}

<div class="notes-grid">

    {% for file in files %}

    <div class="note-card">

        <h3>
            {{ file.stored_name }}
        </h3>

        <p>
            {{ file.filename }}
        </p>


        <div class="note-actions">

            <a
                href="/files/view/{{ file.id }}"
                class="btn btn-secondary"
            >
                View
            </a>

            <a
                href="/files/download/{{ file.id }}"
                class="btn btn-edit"
            >
                Download
            </a>

            <a
                href="/files/delete/{{ file.id }}"
                class="btn btn-danger"
            >
                Delete
            </a>

        </div>

    </div>

    {% endfor %}

</div>


{% else %}

<div class="empty-state">

    <h2>
        No Files Found
    </h2>

    <p>
        Start by uploading your first file.
    </p>

</div>

{% endif %}

{% endblock %}