{% extends "base.html" %}

<title>
    {% block title %}
        Login
    {% endblock %}
</title>


<body>
{% block navmenu %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{% endblock %}

{% block content %}
    <div>
        <h2>Login</h2>
        <p>
            Login to account to manage your Notes and Files
        </p>

        <div>
            <form action="">
                
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="">
                </div>
                
                <div>
                    <button type="submit">Submit</button>
                </div>
                <p>Don't have account?<a href="#">Register</a></p>
            </form>
        </div>
    </div>
{% endblock %}
</body>