{% extends 'base.html' %}

{% block title %}
SNS-Reset-Password
{% endblock %}

{% block content %}

    {% block navmenu %}
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    {% endblock %}


    <div>
        <h2>Reset Password</h2>
        <p>To manage your notes and files, first reset your password</p>
        <div>
            <form action="/reset-password/{{ token }}" method="POST">

                <div>
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="">
                </div>
                <div>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="">
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}