{% extends "base.html" %}

    {% block title %}
        Forgot-Password
    {% endblock %}




{% block navmenu %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{% endblock %}

{% block content %}
    <div>
        <h2>Forgot-Password</h2>
        <p>
            Login to account to manage your Notes and Files
        </p>

        <div>
            <form action="{{ url_for('forgot_password') }}" method="POST">
                
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>
                
                <div>
                    <button type="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}
